name: Tests

on:
  pull_request:
    branches: [main, dev]
  push:
    branches: [main, dev]

jobs:
  test:
    name: Run Tests
    runs-on: macos-14
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_15.4.app/Contents/Developer

      - name: Show Swift Version
        run: swift --version

      - name: Build
        run: swift build -v

      - name: Run Tests
        run: xcodebuild test \
          -scheme RoughSwiftUI \
          -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.5' \
          -parallel-testing-enabled YES

